* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

html {
	font-family: Arial, Helvetica, sans-serif;
	width: 100%;
	min-height: 100%;
	scroll-behavior: smooth;
}

#contForo{
    margin-top: 40px;
    text-align: center;
}

#contForo h1{
	margin-top: 10px;
}

#contComments {
	margin-top: 47px;
	display: flex;
	flex-direction: column;
	justify-content: center;
    margin-bottom: 60px;
}

#contComments img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 151.1px;
    width: 297.66px;
	margin-bottom: 40px;
}

#commentCont{
	margin-top: 30px;
}

div.coment{
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-width: 2px;
	border:rgb(0, 0, 0);
    border-style: solid;
    border-width: 2px;
	text-align: left;
	font-size: 1em;
	padding: 10px;
	margin-top: 28px;
}

.coment p{
	margin-top: 5px;
	margin-left: 10px;
}

#formComment textarea{
	margin-top: 30px;
}

.buttonSubm{
	font-size: 1.1em;
	border: black;
	border-style: solid;
	border-width: 1.5px;
	margin-top: 30px;
	height: 45px;
	width: 200px;
}

.buttonSubm:hover:not(.active) {
	background-color: rgba(46, 46, 46, 0.555);
}

@media only screen and (min-width: 815.001px) {
    div.coment{
		width: 750px;
    }
}

@media only screen and (max-width: 815px){
    div.coment{
		width: 85%;
    }
	#formComment textarea{
		width: 85%;
	}
}