* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

html {
	font-family: Arial, Helvetica, sans-serif;
	width: 100%;
	min-height: 100%;
	scroll-behavior: smooth;
}

#contPerfil{
    margin-top: 50px;
    text-align: center;
}

.circuloFoto{
    margin-top: 55px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 230px;
    height: auto;
    border-radius: 50%;
    border:rgb(0, 0, 0);
    border-style: solid;
    border-width: 2px;
}

#contPerfil{
    margin-top: 50px;
    text-align: center;
    margin-bottom: 60px;
}

#contPerfil form{
    margin-top: 25px;
}

#contPerfil input.textIn{
    font-size: 1.1em;
    border: black;
    border-style: solid;
    border-width: 1.5px;
    margin-top: 30px;
    height: 45px;
    width: 200px;
}

#contPerfil input#foto{
	margin-top: 35px;
	font-size: 0.95em;
	margin-bottom: 15px;
}

#contPerfil button{
    font-size: 1.1em;
    border: black;
    border-style: solid;
    border-width: 1.5px;
    margin-top: 30px;
    height: 45px;
    width: 200px;
}

.buttonSubm:hover:not(.active) {
	background-color: rgba(46, 46, 46, 0.555);
}