
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

html {
	font-family: Arial, Helvetica, sans-serif;
	width: 100%;
	min-height: 100%;
	scroll-behavior: smooth;
}

#contenedorBuscador {
    margin-top: 50px;
    text-align: center;
	margin-bottom: 60px;
}

#contenedorBuscador form{
    margin-top: 20px;
}

#contenedorBuscador input.standInput{
    font-size: 1.1em;
    border: black;
    border-style: solid;
    border-width: 1.5px;
    margin-top: 30px;
    height: 45px;
    width: 200px;
}

#contenedorBuscador input.lupa{
    height: 45px;
    width: 45px;
    font-size: 1.1em;
}

div.foroResumen {
    display: block;
	margin-left: auto;
	margin-right: auto;
	width: 650px;
	border-width: 2px;
	border:rgb(0, 0, 0);
    border-style: solid;
    border-width: 2px;
	text-align: left;
	font-size: 1em;
	padding: 10px;
	margin-top: 28px;
}

div.foroResumen p{
	margin-top: 5px;
	margin-left: 10px;
}

.paginado{
	font-size: 1.2em;
	margin-top: 25px;
}