<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="res/css/crearForo.css">
    <title>Document</title>
</head>
<body>
    <div id="contMakeForo">
        <h1>Creacion de Foro</h1>

        <form action="">
            <div>
                <input class="textIn" type="text" maxlength="25" placeholder="Titulo de foro">
            </div>
            <div>
                <input id="foto"  type="file" name="file" class="inputfile" />
            </div>
            <div>
                <textarea name="textoForo" rows="16" cols="100" maxlength="1200"></textarea>
            </div>
            <input class="buttonSubm textIn" type="submit" value="Crear">
        </form>
    </div>
</body>
</html>