<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="res/css/header.css">
    <link rel="stylesheet" href="res/css/foro.css">
    <title>Document</title>
</head>
<body>
    <header id="header">
        <div id="webName"><h1>ForoUpna</h1></div>
        <div id¨="navBar">
            <ul class="topnav">
                <li><a href="">Registar</a></li>
                <li><a href="">Buscar🔍</a></li>
                <li><a href="">Login</a></li>
            </ul>
        </div>
    </header>

    <div id="contForo">
        <h1>Titulo del Foro</h1>
        <div id="contComments">
            <img id="fotForo" src="res/default.webp" alt="">

            <div class="coment">
                <div>
                    <h3>username</h3>
                </div>
                <div>
                    <p>
                        podra comentar con un limite de 250 palabras
                    </p>
                </div>
            </div>

            <div class="paginado">
                <a href="">1</a> | .. | <a href="">5</a> | <a href="">6</a> |  <a href="">7</a> |  <a href="">8</a> |  <a href="">9</a> | ... | <a href="">25</a>
            </div>
        </div>
    </div>
</body>
</html>