<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="res/css/homeMain.css">
    <title>Document</title>
</head>
<body>
    <div id="mainContent">
        <div id="topForos">
            <h1>Foros Mas Comentados</h1>

            <div id="top3foro">
                <div class="foroTop">
                    <img src="res/default.webp" alt="">
                    <h2>Titulo Foro</h2>
                </div>
                <div class="foroTop">
                    <img src="res/default.webp" alt="">
                    <h2>Titulo Foro</h2>
                </div>
                <div class="foroTop">
                    <img src="res/default.webp" alt="">
                    <h2>Titulo Foro</h2>
                </div>
            </div>
        </div>

        <div id="lastComents">
            <h1> Ultimos Comentarios</h1>
            <div class="comment">
                <h3 class="userName">Username</h3>
                <h3 class="foroTitle">foroTitle</h3>
                <p class="fistWords">Primera palabras de lo que diga</p>
            </div>
            <div class="comment">
                <h3 class="userName">Username</h3>
                <h3 class="foroTitle">foroTitle</h3>
                <p class="fistWords">Primera palabras de lo que diga</p>
            </div>
            <div class="comment">
                <h3 class="userName">Username</h3>
                <h3 class="foroTitle">foroTitle</h3>
                <p class="fistWords">Primera palabras de lo que diga</p>
            </div>
        </div>
    </div>
</body>
</html>