<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="res/css/perfil.css">
    <title>Document</title>
</head>
<body>
    <div id="contPerfil">
        <h1>Perfil</h1>
        <img loading="lazy" class="circuloFoto" src="res/default_sq.webp" alt="foto de perfil">
        <form action="">
            <div>
                <input type="text" maxlength="20" placeholder="Username">
            </div>
            <div>
                <input type="password" maxlength="20" placeholder="Email">
            </div>
            <input class="buttonSubm" type="submit" value="Editar">
        </form>
    </div>
</body>
</html>