<div id="contenedorBuscador">
    <h1> Buscador</h1>
    <form onsubmit="busca(); return false">
        <input class="lupa" type="submit" value="🔍">
        <input id="titulo" name="titulo" class="standInput" type="text" maxlength="25" required>
    </form>

    <br><br><br>
    <div id="forosEncontrados">
        <div id="resultadosBusqueda">
            ##resulatados##
        </div>
        <div class="paginado">
            <ul id="pagindoID">##paginado##</ul>
        </div>
    </div>
</div>