<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="res/css/crearComment.css">
    <title>Document</title>
</head>
<body>
    <div id="contMakeComment">
        <h1>Crear commentario para ForoTitle</h1>
        <form action="">
            <div>
                <textarea name="textocomment" rows="16" cols="100" maxlength="1200"></textarea>
            </div>
            <input class="buttonSubm textIn" type="submit" value="Crear">
        </form>
    </div>
</body>
</html>