<div id="contMakeForo">
    <h1>Creacion de Foro</h1>

    <form aria-describedby="fromulario de creacion de foro" id="fromMakeforo" onsubmit="creaForo();return false" role="form">
        <div>
            <label for="titulo" hidden>titulo</label>
            <input aria-required="true" id="titulo" class="textIn" type="text" name="titulo" maxlength="30" placeholder="Titulo de foro" required>
        </div>
        <div>
            <label for="foto" hidden>subir foto</label>
            <input aria-required="true" id="foto" name="foto" type="file" name="foto" class="inputfile" required/>
        </div>
        <div>
            <label for="descripcion" hidden>descripcion del foro</label>
            <textarea aria-required="true" id="descripcion" name="descripcion" rows="16" cols="100" maxlength="1200" required></textarea>
        </div>

        <input class="buttonSubm textIn" type="submit" value="Crear">
    </form>
</div>
