<div id="contForo">
    <h1 aria-describedby="id del foro">###id_foro##</h1>
    <h1 aria-describedby="titulo del foro">##TituloForo##</h1>
    <div id="contComments">
        <img loading="lazy" id="fotForo" src="##urlfor##" alt="foto del foro: ##TituloForo##">

        <div class="coment" aria-describedby="descripcion de hilo del foro">
            <div>
                <h3>##username##</h3>
            </div>
            <div>
                <p>##textodescripcion##</p>
            </div>
        </div>

        <br>
        <div id="commentCont" aria-describedby="contenedor de formulario para creacion de comentario">
            <h3>Comentar</h3>
            <form role="form" id="formComment" onsubmit="comentarFun();return false">
                <div>
                    <label for="comentario" hidden>area para ecribir comentario</label>
                    <textarea aria-required="true" name="comentario" id="comentario" rows="16" cols="100" maxlength="1200"
                        required></textarea>
                </div>
                <div>
                    <input type="hidden" name="id_foro" id="id_foro" value="##id_foro##">
                </div>
                <input class="buttonSubm textIn" type="submit" value="Crear">
            </form>
        </div>
        <br>

        <div id="contCommentsId" aria-describedby="contendor con los comentarios del foro">##comentarios##</div>

        <br>
        <div class="paginado">
            <ul id="pagindoID">##paginado##</ul>
        </div>
        <br>
    </div>
</div>