<div id="contForo">
    <h1>###id_foro##</h1>
    <h1>##TituloForo##</h1>
    <div id="contComments">
        <img id="fotForo" src="##urlfor##" alt="##altfotoforo##">

        <div class="coment">
            <div>
                <h3>##username##</h3>
            </div>
            <div>
                <p>##textodescripcion##</p>
            </div>
        </div>

        <br>
        <div id="commentCont">
            <h3>Comentar</h3>
            <form id="formComment" onsubmit="comentarFun();return false">
                <div>
                    <textarea name="comentario" id="comentario" rows="16" cols="100" maxlength="1200"
                        required></textarea>
                </div>
                <div>
                    <input type="hidden" name="id_foro" id="id_foro" value="##id_foro##">
                </div>
                <input class="buttonSubm textIn" type="submit" value="Crear">
            </form>
        </div>
        <br>

        <div class="coment">
            <div>
                <h3>username</h3>
            </div>
            <div>
                <p>
                    podra comentar con un limite de 250 palabras
                </p>
            </div>
        </div>

        <div class="paginado">
            <a href="">1</a> | .. | <a href="">5</a> | <a href="">6</a> | <a href="">7</a> | <a href="">8</a> | <a
                href="">9</a> | ... | <a href="">25</a>
        </div>
    </div>
</div>