<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="res/css/header.css">
    <script src="res/js/header.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script> -->
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
    ##MdasLinksCss##
    <title>Document</title>
</head>
<body>
    <header id="header">
        <div id="webName"><a href="home"><h1>ForoUpna</h1></a></div>
        <div id¨="navBar">
            <ul class="topnav">
                ##LinksNavBar##
            </ul>
        </div>
    </header>
    ##body##
</body>
</html>