<!-- <!DOCTYPE html> -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="##sp##res/css/header.css">
    <script src="##sp##res/js/header.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="shortcut icon" href="##sp##res/favicon.ico" type="image/x-icon">
    <meta name="keywords" content="foro, upna, universidad, publica, de, navarra, foros">
    <meta name="description" content="Esta pagina web esta hecha para la creacion de foros de debata para los estudaintes de la UPNA, entra y disfruta">
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
    ##MdasLinksCss##
    <title>ForoUpna</title>
</head>
<body>
    <header id="header" role="header">
        <div id="webName"><a href="##sp##home"><h1>ForoUpna</h1></a></div>
        <div id¨="navBar" role="navigation">
            <ul class="topnav">
                ##LinksNavBar##
            </ul>
        </div>
    </header>
    <div role="main">
    ##body##
    </div>
</body>
</html>