<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="res/css/header.css">
    ##MdasLinksCss##
    <title>Document</title>
</head>
<body>
    <header id="header">
        <div id="webName"><a href="http://localhost:8080/router.php/"><h1>ForoUpna</h1></a></div>
        <div id¨="navBar">
            <ul class="topnav">
                <!-- <li><a href="">Registar</a></li>
                <li><a href="">Buscar🔍</a></li>
                <li><a href="">Login</a></li> -->
                ##LinksNavBar##
            </ul>
        </div>
    </header>
    ##body##
</body>
</html>