<div id="contLogin">
    <h1>Iniciar Sesion</h1>
    <form >
        <div>
            <input id="username" type="text" maxlength="20" placeholder="Username" required>
        </div>
        <div>
            <input id="password" type="password" maxlength="20" placeholder="Password" required>
        </div>

        <!-- <input class="buttonSubm" type="submit" onclick="login()" value="Login"> -->
        <button class="buttonSubm" type="button" onclick="login()">Login</button>

        <button class="buttonSubm" type="button" onclick="checkUser()">check</button>

        <button class="buttonSubm" type="button" onclick="logout()">logout</button>
    </form>
</div>
