<div id="contPerfil">
    <h1>Perfil</h1>
    <img loading="lazy" class="circuloFoto" src="##foto##" alt="foto de perfil de ##username##">

    <form onsubmit="updata(); return false" role="form" aria-describedby="formualrio para actulaizar los datos del usuario">
        <div>
            <label for="usename" hidden>nombre de usuario</label>
            <input aria-required="true" class="textIn" id="username" name="username" type="text" maxlength="20" placeholder="Username" value="##username##" disabled re>
        </div>
        <div>
            <label for="foto" hidden>selector de la foto de usuario</label>
            <input aria-required="false" id="foto" name="foto" type="file" name="foto" class="inputfile"/>
        </div>
        <div>
            <label for="email" hidden>correo elctronico</label>
            <input aria-required="true" class="textIn" id="email" name="email" type="email" maxlength="20" placeholder="Email" value="##email##" required>
        </div>
        <input class="buttonSubm textIn" type="submit" value="Actualizar">
    </form>
</div>
