<div id="contPerfil">
    <h1>Perfil</h1>
    <img loading="lazy" class="circuloFoto" src="##foto##" alt="foto de perfil de ##username##">
    <form action="perfil/editar" role="form" aria-describedby="formualrio con los datos del usuario">
        <div>
            <label for="username" hidden> nombre de usuario</label>
            <input name="username" class="textIn" type="text" maxlength="20" placeholder="Username" value="##username##" disabled>
        </div>
        <div>
            <label for="email" hidden>correo electronico</label>
            <input name="email" class="textIn" type="email" maxlength="20" placeholder="Email" value="##email##" disabled>
        </div>

        <input class="buttonSubm textIn" type="submit" value="Editar">
        <!-- <button  onclick="window.location.href='perfil/editar'">Editar</button> -->
    </form>
</div>
