html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	/* font-size: 100%; */
	/* font: inherit; */
	/* vertical-align: baseline; */
}

.contenedor {
    display: flex;
    flex-direction: column;    
    flex-wrap: wrap;
}

.cabecera {
    display: flex;
    flex-direction: row;    
    flex-wrap: wrap;
    padding: 10px;
    background-color: beige;
    justify-content: center;
}

.tituloCabe {
    flex-basis: auto;
}

.imgLogo {
    flex-basis: 20%;
}

.mainCon {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: burlywood;
}

.navega {
    flex: 1;
    padding: 20px;
    background-color: cyan;
}

.maBod{
    flex-basis: 70%;
    padding: 10px;
    background-color: thistle;
}

.tituloSec{
    padding: 10px;
}

article {
    padding: 10px;
}

.publAsi {
    flex: 1;
    padding: 10px;
    background-color: khaki;
}

.footerClas {
    padding: 20px;
    background-color: lightcyan;
    flex: 1;
}

body {
    background: skyblue;
}