html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	/* font-size: 100%; */
	/* font: inherit; */
	/* vertical-align: baseline; */
}

html {
    height: 100%;
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    overflow: hidden;
  }

#myCabera {
    background-color: skyblue;
    align-content: center;
    text-align: center;
    margin-top: 20px;
}

#myCont {
    margin-top: 15px;
    margin-left: 10%;
    width: 75%;
    display: inline-block;
    background-color: chartreuse;
}

#gameLay {
    /*margin-left: 20%;*/
    width: 701px;
    height: 651px;
    background-color: red;
}

#myChat {
    width: 30%;
    float: right;
    background-color: royalblue;
}

#myFoot {
    margin-top: 10px;
    background-color: springgreen;
}


  
/*https://csshint.com/css-animated-backgrounds/*/
#stars2 {
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 1px 1600px #FFF , 824px 1607px #FFF , 1848px 965px #FFF , 986px 1576px #FFF , 363px 1093px #FFF , 874px 149px #FFF , 104px 1359px #FFF , 1756px 1855px #FFF , 1927px 1124px #FFF , 1441px 1284px #FFF , 1095px 1169px #FFF , 1487px 1530px #FFF , 130px 1693px #FFF , 1369px 942px #FFF , 434px 1637px #FFF , 378px 25px #FFF , 1624px 753px #FFF , 1166px 1739px #FFF , 425px 689px #FFF , 1885px 212px #FFF , 1708px 1948px #FFF , 489px 813px #FFF , 1596px 107px #FFF , 2000px 1630px #FFF , 688px 1237px #FFF , 1831px 1753px #FFF , 1279px 194px #FFF , 1571px 393px #FFF , 529px 1408px #FFF , 484px 992px #FFF , 162px 1136px #FFF , 581px 97px #FFF , 1939px 269px #FFF , 832px 1744px #FFF , 501px 1495px #FFF , 1572px 1977px #FFF , 328px 279px #FFF , 1361px 185px #FFF , 1514px 1696px #FFF , 443px 727px #FFF , 245px 1753px #FFF , 1419px 1815px #FFF , 115px 754px #FFF , 1835px 999px #FFF , 526px 554px #FFF , 1317px 780px #FFF , 278px 1356px #FFF , 1847px 858px #FFF , 719px 1818px #FFF , 9px 1950px #FFF , 169px 1209px #FFF , 1039px 1213px #FFF , 1933px 1992px #FFF , 971px 1657px #FFF , 739px 1524px #FFF , 1627px 1790px #FFF , 1127px 65px #FFF , 453px 111px #FFF , 1822px 991px #FFF , 737px 1397px #FFF , 1324px 762px #FFF , 1104px 539px #FFF , 1221px 1079px #FFF , 29px 1739px #FFF , 133px 1235px #FFF , 823px 1794px #FFF , 1968px 1740px #FFF , 1187px 796px #FFF , 28px 55px #FFF , 897px 1204px #FFF , 58px 1259px #FFF , 802px 1391px #FFF , 1804px 1255px #FFF , 1495px 1537px #FFF , 1091px 102px #FFF , 1974px 356px #FFF , 89px 1721px #FFF , 1369px 344px #FFF , 1676px 507px #FFF , 1100px 1856px #FFF , 1561px 1851px #FFF , 1699px 695px #FFF , 1315px 1234px #FFF , 1749px 1025px #FFF , 901px 487px #FFF , 1629px 1506px #FFF , 680px 1343px #FFF , 1933px 1666px #FFF , 482px 1819px #FFF , 1621px 903px #FFF , 1781px 90px #FFF , 797px 511px #FFF , 155px 1465px #FFF , 778px 333px #FFF , 152px 1665px #FFF , 249px 1912px #FFF , 742px 880px #FFF , 946px 252px #FFF , 1727px 1780px #FFF , 1652px 1398px #FFF , 455px 1994px #FFF , 21px 1730px #FFF , 1756px 1957px #FFF , 1860px 1266px #FFF , 1857px 634px #FFF , 1407px 828px #FFF , 1112px 1530px #FFF , 410px 532px #FFF , 378px 513px #FFF , 980px 914px #FFF , 1788px 1824px #FFF , 421px 1398px #FFF , 1840px 836px #FFF , 531px 1325px #FFF , 1182px 1773px #FFF , 629px 1609px #FFF ;
    animation: animStar 100s linear infinite;
}

@keyframes animStar {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-2000px);
    }
}
  